<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaorD4jUZYHhoRalZZNqecoYL4O3gAwHU</string>
	<key>GCM_SENDER_ID</key>
	<string>723532745982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dominicFlutterTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-f3a46</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-f3a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723532745982:ios:36f9081fce7db6f806e9af</string>
</dict>
</plist>